absl-py==0.11.0
aiohttp==3.7.4.post0
asgiref==3.4.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
brotlipy==0.7.0
cachetools==4.2.0
certifi==2020.12.5
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1606601144314/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1607673816583/work
colorama==0.4.4
conda==4.9.2
conda-package-handling @ file:///Users/runner/miniforge3/conda-bld/conda-package-handling_1602876819663/work
configparser==5.2.0
crayons==0.4.0
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1607606172619/work
cycler==0.10.0
discord.py==1.6.0
dj-database-url==1.0.0
Django==3.2.9
flatbuffers==1.12
gast==0.3.3
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
h11==0.12.0
h5py==2.10.0
heroku==0.1.4
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
iniconfig==1.1.1
joblib==1.0.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.3
matplotlib==3.3.4
multidict==5.1.0
numpy==1.19.5
oauthlib==3.1.0
opencv-python==4.5.1.48
opt-einsum==3.3.0
outcome==1.1.0
packaging==20.9
Pillow==8.1.0
pluggy==0.13.1
protobuf==3.14.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1602277865904/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1602326916036/work
pytest==6.2.4
python-dateutil==1.5
python-dotenv==0.15.0
pytz==2021.3
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
requests-oauthlib==1.3.0
rsa==4.7
ruamel-yaml-conda @ file:///Users/runner/miniforge3/conda-bld/ruamel_yaml_1602430353696/work
scikit-learn==0.24.0
scipy==1.6.0
selenium==4.1.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sniffio==1.2.0
sortedcontainers==2.4.0
sqlparse==0.4.2
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.2
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1608900042843/work
trio==0.19.0
trio-websocket==0.9.2
typing-extensions==3.7.4.3
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1605225765842/work
webdriver-manager==3.5.2
Werkzeug==1.0.1
wrapt==1.12.1
wsproto==1.0.0
yarl==1.6.3
